*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
}
.as{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

 
.btn {
    width: 210px;
    height: 28px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    transition: 1s ease-in-out;
}
  
svg {
    position: absolute;
    left: inherit;
    top: inherit;
    fill: none;
    stroke: #ce8282;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}
  
.btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
}
  
.btn:hover svg {
    stroke-dashoffset: -480;
}
  
.btn span {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
}